<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load the properties file: application.properties -->
    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="domenicoPizzeria"
          class="com.agency04.sbss.pizza.DomenicoPizzeria">
        <property name="name" value="Domenico"/>
        <property name="address" value="Trg Slobode 7, Varaždin "/>
    </bean>

    <bean id="raj"
          class="com.agency04.sbss.pizza.SantaMariaPizzeria">
        <!-- injecting from a properties file -->
        <property name="name" value="${foo.name}"/>
        <property name="address" value="${foo.address}"/>
    </bean>

    <bean id="deliveryFirst"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
        <!-- constructor injection -->
        <constructor-arg ref="domenicoPizzeria"/>
    </bean>

    <bean id="deliverySecond"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
        <!-- setter injection -->
        <property name="pizzeriaService" ref="raj"/>
    </bean>

</beans>